@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");

.bellefair {
  font-family: "Bellefair", serif;
}

.bg-img {
  background-image: url("./images/3744b.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

#askTopic {
  width: 200px;
  height: 40px;
  text-align: right;
}

#askArticle {
  text-align: right;
  margin: 15px;
}

/* #askSubmit{
  padding-right: 6px !important;
} */
